<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <title>Budge Me: Home</title>
  </head>
  <body>

    <ul class="nav">
      <li class="tab-active nav-tabs"><a href="index.html">Home</a></li>
      <li class="nav-tabs"><a href="social.html">Social</a></li>
      <li class="nav-tabs"><a href="budget.html">Budget</a></li>
      <li class="nav-tabs"><a href="settings.html">Settings</a></li>
    </ul>

    <div class="home-img">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Farm_garden_at_the_Hess_Homestead.jpg" alt="Your Garden" style="width:1647px;height:1100px">

      <h1 id="garden-name"><span>Simpson's Garden</span></h1>

      <ul>
        <li><h2><span>Garden Status</span></h2<>/li>
        <li><span>!Under attack from hungry goat!</span></li>
        <li><span>Use 2 more fertilizers to max out growth <br/>Fertilizers: 3/5</span></li>
        <li><span>All the bugs are dead! Awesome!<br/>Bugs: 0/5</span></li>
      </ul>

      <ul id="task-list">
        <li><h2><span>Ongoing Tasks</span></h2></li>
        <li><span>Spend less than $50 on boba this week.<br/>Reward: x1 Fertilizer</span></li>
        <li><span>Spend less than $100 on Entertainment this week.<br/>Reward: x1 Pesticide</span></li>
      </ul>
    </div>


  </body>
</html>