.nav{
  background-color: #E54028;
  padding: 14px 16px;
  width: 50%;
  }

.nav-tabs {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  display: inline-block;
  font-size: 150%;
  text-align: center;
  font-weight: 400;
}

.nav-tabs a{
  text-decoration: none;
  color: #D0D102;
}

.nav-tabs a:hover {
  background-color: #616161;
  padding: 14px 16px;
}

.tab-active {
  background-color: #00A1CB;
}

#budget{
  font-size: 200%;
  padding-bottom: 20px;
}

#budget a, .on-button a, .off-button a, #garden-members a, #friends a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.budg-item {
  color: black;
  font-weight: normal;
  text-decoration: none;
}
#garden-members, #friends {
  width: 500px;
  height: auto;
  float: left;
}     

#garden-members li, #friends li {
  font-size: 150%;
}


.home-img img {
  position: relative;
  width: 100%;
}

#garden-name {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 300%;
}

.home-img span{
  color: #F3DC6C;
  font: bold;
  background: rgb(46,150,153);
  background: rgba(46,150,153,.65);
}

.home-img ul {
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  top: 75px;
  right: 250px;
  width:25%;
  padding-bottom: 20px;
}

#task-list {
  top: 300px;
}

li {
  list-style-type: none;
}

body {
  background-color: rgb(43,150,153);
  background-color: rgba(43,150,153,.5);
}

  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  .slider {
  	width: 35%;
  }